.container-fluid{
    padding: 3% 15% ;
}

img{
    padding-right: 0px;
    margin-right: 0px;
}


.nav-Text-color{
    color: #381818 !important
}

#title{
    background-color: #FFEBCC;
}

h1{
    color: #FF9999;
    font-family: 'Montserrat';
    font-weight: 900;
    line-height: 1.5;
    size: 3rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-weight: 700;
    padding-left: 10px;
}

.nav-item{
    font-family: 'Ubuntu';
    font-weight: 700;
}