.container-fluid{
    padding: 2% 15% ;
}

/* body{
    font-family: 'Montserrat';
} */

/* Navigation Bar */

.navbar{
    padding-bottom: 4rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0.35rem;
}

.fa-paw{
    transform: rotate(10deg);
}

.nav-item{
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: 1.2rem;
    padding: 0 15px;
}

.nav-link{
    color: #1A374D !important;
}


#title{
    background-color: #FFEBCC;
}

/* Title Image */

.title-img{
    margin-right: 0px;
    padding: 5% 0 15% 0 ;
    height: 110%;
    transform: rotate(20deg);
}

/* Download Button */

.download-button{
    margin: 5% 3% 5% 0;
}


#title h1{
    color: #ff6075;
    font-family: 'Montserrat';
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.5rem;
    padding-top: 10% ;
}

/* Features Section */

#features{
    padding: 3% 10%;
}
.feature-icon{
    color: #ff6075;
    margin-bottom: 1rem;
    padding: 0 6%;


}

.feature-icon:hover{
    color: #1A374D;
}

.feature-box {
    text-align: center;
    padding: 5%;
}


.feature-box h3{
    
    font-weight: bold;
    font-size: 1.5rem;
}
.feature-box p{
    color: #8f8f8f;
}

/* Testimonials */

#testimonials{
    background-color: #FFEBCC;
    
    text-align: center;
    color: #1A374D;
}

#testimonials em{
    color: grey ;
}

.carousel-item{
    padding: 7% 15%;

}

#testimonials h3{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3.2rem;
}

.testimonial-img{
    width: 15%;
    border-radius: 100%;
    margin: 2%;
}

/* Press */

#press{
    padding: 3% 5%;
    background-color: #FFEBCC;
    text-align: center;
}
.press-img{
    width: 15%;
    margin: 20px 30px ;
}

/* Pricing Section */
#pricing{
    padding:3% 8% ;
}

#pricing h1{
    color: #ff6075;
    font-family: 'Montserrat';
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.5rem;
}

#pricing h3{
    color: #1A374D;
    font-family: 'Ubuntu';
}

#pricing h2{
    font-size: 2.5rem;
}

#pricing p{
    color: #1A374D;
}

.btn-outline-dark{
    
    border-color: #1A374D;
    color:#1A374D;
}
.btn-outline-dark:hover{
    background-color:#1A374D !important;
    border-color: #1A374D;
    color:#FFEBCC;
}

.price-card{
    padding: 2%;

}
.card{
    text-align: center;
}
/* Footer Section */

#footer{
    text-align: center;
}